@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #ff0000;
  --color-secondary: #00ff00;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Nunito", sans-serif;
  background-color: #f9f9f9;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

.active-item {
  @apply bg-gradient-to-r hover:bg-gradient-to-tl from-pink-700/80 to-sky-600 text-black text-xl font-semibold rounded-md p-2 w-full;
}

.input-item {
  @apply mt-1 text-slate-800 block w-full p-3 border border-slate-600 rounded-md shadow-sm focus:outline-none focus:ring-1 focus:ring-slate-500 focus:border-transparent sm:text-sm;
}

.button-primary{
  @apply w-full bg-blue-500/70 text-2xl hover:bg-blue-700 text-white font-bold p-2 rounded
}

.button-danger{
  @apply w-full bg-red-500/70 text-2xl hover:bg-red-700 text-white font-bold p-2 rounded

}
.hover-item {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.hover-item:hover {
  background-image: linear-gradient(to right, blue, pink);
  background-clip: border-box;
  -webkit-background-clip: border-box;
  border-radius: 6px;
  color: black;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.link {
  @apply bg-gradient-to-r hover:bg-gradient-to-tl from-pink-700/80 to-sky-600 bg-clip-text text-transparent text-2xl font-semibold hover-item p-2 w-full;
}
